<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verdulin</title>
</head>
<body>
    <header>
        <h1>Esto es Verdulin</h1>
        <nav>
            <!-- Aquí coloca tu menú de navegación -->
            <ul>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="/Verdulin/index/">Index</a></li>
                <li><a href="/Verdulin/agregarProductos/">Agregar Producto</a></li>
                <li><a href="/Verdulin/productos/">Ver Productos</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- El contenido específico de cada página se colocará aquí -->
        {% endblock %}
    </main>

    <footer>
        <!-- Aquí el contenido del footer -->
        <p>ESTO ES EL FOOTER 2023 Mi Sitio Web</p>
    </footer>
</body>
</html>
