* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

/* Paleta de colores: */
.paleta {
    color: #5F6F52;
    color: #A9B388;
    color: #FEFAE0;
    color: #B99470;
}


body {
    background-color:#5F6F52 ;
    padding: 0 25px;
}

.navegador {
    background: #A9B388
}

.navegador ul a {
    color: white;
}

.articulos {
    display: flex;
    flex-direction: row;
}

.articulo {
    margin: 5px;
    padding: 15px;
    background-color: #B99470;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    width: 30%;
}

.articulo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.content_form {
    color: black;
    margin: 5px;
    padding: 15px;
    background-color: #B99470;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
    width: 30%;
}

.content_form form input {
    color: black;
    margin: 10px;
}


