{% extends 'index.html' %}
{% block content %}



<div class="container">

    {% if articulo %}
    <section class="row">
        
    <article class="card card-body text-center my-4">
        <h2>{{ articulo.titulo }}</h2>
        <h3>{{ articulo.subtitulo }}</h3>
        <p>{{ articulo.cuerpo }}</p>
        <img src="{{ articulo.imagen.url }}" class="img-fluid" alt="imagenArticulo">
        <h3>Autor: {{ articulo.autor}} </h3>
        <h4>Creado: {{ articulo.fecha}}</h4>

        <a href="{% url 'editarArticulo' articulo.pk %}">
            <h2>Editar articulo</h2>
        </a>
    </article>

    </section>
    {% endif %}

</div>

{% endblock %}