{% extends 'index.html' %}
{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form action="{% url 'editarUsuario' %}" method="post" class="card card-body text-center">
            <h1>Quieres editar tu usuario?</h1>
            {% csrf_token %}

            {{form.as_table}}

            <p>Ya tienes cuenta? Logeate <a href="/login"> aqui! </a></p>
            <input type="submit" value="Guardar cambios." class="form-control btn btn-primary">


        </form>
    </div>
</div>

{% endblock %}