<!-- base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AlexBlog</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" />
    <style>
        /* Estilos personalizados para el efecto de zoom */
        .navbar-nav .nav-link {
            transition: transform 0.3s ease;
            /* Transición suave */
        }

        .navbar-nav .nav-link:hover {
            transform: scale(1.1);
            /* Zoom al pasar el puntero */
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="/admin/">ADMIN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro' %}">Registro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sobreMi' %}">Sobre mi</a>
                        </li>
                        {% if user.is_authenticated%}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'verArticulos' %}">Articulos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'agregarArticulos' %}">Agregar articulo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'editarUsuario' %}">Editar perfil</a>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="form-control btn btn-secondary">Logout</button>
                            </form>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        {% endif %}


                    </ul>
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        {% if user.is_authenticated %}
                        <li class="nav-item ml-auto">
                            <h4> Esta conectado: {{user}} </h4>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <main class="container py-5">
        {% load static %}
        {% block content %}
        <!-- El contenido específico de cada página se colocará aquí -->
        {% endblock %}
    </main>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">¡Bienvenido a Mi Blog!</h1>
                <p class="lead text-center">Aquí puedes compartir tus ideas, experiencias y conocimientos sobre temas de
                    interés.</p>
                <p class="text-center">¿Tienes algo interesante para compartir? ¡Publicá tu primer artículo ahora!</p>
            </div>
        </div>
    </div>

    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container text-center">
            <span class="text-muted">© 2024 Mi Blog por Alexis Bonetti</span>
        </div>
    </footer>
</body>

</html>