{% extends 'index.html' %}
{% block content %}
<div class="content_form">
    <form method="POST" action="{% url 'login' %}" >
        {% csrf_token %}

        <p> Usuario: <input type="text" name="username"></p>
        <p> Contraseña: <input type="password" name="password"></p>
       
        <input type="submit" value="login" >

        <p>No tienes usuario? Registro <a href="/registro"> aqui! </a></p>
        {% if data %}
        <h3> {{ data }} </h3>
        {% endif %}
    </form>
</div>
{% endblock %}