
{% extends 'index.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Sobre Mí</h2>
                    <p class="card-text">¡Hola! Mi nombre es Alexis Bonetti. Soy estudiante de programación y otra tantas cosas más. En este sitio compartiré mi experiencia en Python con Django sobre manejo de datos sobre todo en BackEnd.</p>
                    <p class="card-text">Puedes encontrarme en mi GitHub como <a href="https://github.com/lessi09coder">lessi09coder</a></p>
                    <ul class="list-group">
                        <li class="list-group-item">Email: alexis.bonetti@gmail.com</li>
                        <li class="list-group-item">X: <a href="https://x.com/alexis_bonetti?t=Aus478uF3tlxI5FZ3tWPdA&s=09">@alexis_bonetti</a></li>
                        <!-- Agrega más información sobre ti si lo deseas -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}